# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Builds
build

# Doc builds
doc

# mac stuff
.DS_store
papers/~$method_explanation.pptx
.ipynb_checkpoints

# test details
std.err
std.out
tests/**/cato.x
tests/**/*.txt
tests/**/*.png
tests/**/*.error
tests/**/*.ipynb
tests/**/*/timing.csv
tests/**/*/timing_summary.yaml
tests/integrated/**/input_source_value.dat
tests/integrated/**/boundary_pressure_input_value.dat

*.h5
*.xdmf


# VS code settings
.vscode/settings.json

*.pvts
*.vtk
*.vts
*.pvsm
*.pvts
*.vts
*.pyc
*.avi
scripts/sandbox.ipynb
tests/integrated/double_shear_2/memcheck.sh
misc/~$grid_layout.pptx
scripts/mach_cone_testing.ipynb
scripts/reconstruction_testing.ipynb

# Ignore Intel advisor results
tests/integrated/*/advi
tests/integrated/*/out
*.csv
*.xlsx
instruments*

# integrated test details
tests/integrated/converge_characteristic_growth/symmetric.ini
tests/integrated/converge_characteristic_growth/perturbed.ini
tests/integrated/sod_1d/output
