# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Builds
build

# Doc builds
doc

# mac stuff
.DS_store
papers/~$method_explanation.pptx
.ipynb_checkpoints

# test details
tests/**/cato.x
tests/**/*.txt
tests/**/*.error
*.h5
*.xdmf


# VS code settings
.vscode/settings.json

*.pvsm
*.pyc
*.avi
scripts/sandbox.ipynb
tests/integrated/double_shear_2/memcheck.sh
misc/~$grid_layout.pptx
